<!--コメント一覧-->
<div class="comments">
  <p>コメント件数：<%= post.post_comments.count %></p>
  <% @post.post_comments.each do |comment| %>
    <%= comment.comment %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.user.name %>
    <% if user_signed_in? && comment.user == current_user %>
      <div class="comment-delete">
        <%= link_to '削除', post_post_comment_path(comment.post, comment), method: :delete, data: { confirm: '削除しますか？' } %>
      </div>
    <% end %>
    <br />
  <% end %>
</div>
<!--コメント入力欄-->
<div class="new-comment">
  <%= form_with(model:[post, post_comment], local: true) do |f| %>
    <%= f.text_area :comment, size: "40x2", placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
