<h2>ハッシュタグ #<%= @tag.hash_name %></h2>
  <ul>
    <% @posts.each do |post| %>
    <div>
      <p><%= attachment_image_tag post, :image, class: "post_image" %></p>
      <p>タイトル:<%= link_to post.title, post_path(post.id) %></p>
      <p>
      評価: <span id="star-rate-<%= post.id %>"></span>
      <script>
          // 繰り返し処理でもidを一意
        $('#star-rate-<%= post.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          // 読み込み表示のみ
          readOnly: true,
          score: <%= post.rate %>,
        });
      </script>
      </p>
      <p>ユーザーネーム:<%= post.user.name %></p>
    </div>
    <% end %>
  </ul>
  <p><%= link_to '一覧へ戻る', posts_path %></p>