<h2>投稿一覧</h2>
<% @posts.each do |post| %>
<div>
  <p><%= attachment_image_tag post, :image, class: "post_image" %></p>
  <p>タイトル:<%= link_to post.title, post_path(post.id) %></p>
  <p>
  評価: <span id="star-rate-<%= post.id %>"></span>
  <script>
      // 繰り返し処理でもidを一意
    $('#star-rate-<%= post.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      // 読み込み表示のみ
      readOnly: true,
      score: <%= post.rate %>,
    });
  </script>
  </p>
  <p>
    投稿者:<br />
    <%= link_to user_path(post.user.id) do %>
      <%= attachment_image_tag post.user, :profile_image, class: "post_profile_icon", fallback: "shugo_logo.png" %>
      <%= post.user.name %>
    <% end %>
  </p>
</div>
<% end %>