<h4><%= @post.title %></h4>
<p><%= attachment_image_tag @post, :image, class: "post_image_show" %></p>
<p>
  投稿者:
  <%= attachment_image_tag @post.user, :profile_image, class: "post_profile_icon", fallback: "shugo_logo.png" %>
  <%= @post.user.name %>
</p>
<!-- id="star"がraty.jsの発火ポイント -->
<p>評価: <span id="star"></span></p>
<p>説明:</p>
<p><%= render_with_hashtags(@post.body) %></p>
<p><%= link_to '編集', edit_post_path %> <%= link_to '削除', post_path, method: :delete %></p>
<!--いいねの保存と削除分岐-->
<% if @post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(@post), method: :delete do %>
      <span style="color:red;">♥</span><%= @post.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_favorites_path(@post), method: :post do %>
      <span style="color:red;">♡</span><%= @post.favorites.count %>
    <% end %>
  </p>
<% end %>

<p><%= link_to '一覧へ戻る', posts_path %></p>

<!--評価欄表示（読み込みのみ）のJavaScript-->
<script>
$('#star').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= @post.rate %>
});
</script>