<h4><%= @post.title %></h4>
<p><%= attachment_image_tag @post, :image, :fill, 300, 400 %></p>
<p>ユーザネーム: <%= @post.user.name %></p>
<p>評価: <span id="star"></span></p>
<p>説明:</p>
<p><%= render_with_hashtags(@post.body) %></p>
<p><%= link_to '編集', edit_post_path %> <%= link_to '削除', post_path, method: :delete %></p>
<p><%= link_to '一覧へ戻る', posts_path %></p>

<!--評価欄のJavaScript-->
<script>
$('#star').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= @post.rate %>
});
</script>