    <% if user_signed_in? %>
      <li><%= current_user.name%> さん</li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "投稿一覧", posts_path %></li>
      <li><%= link_to "新規投稿", new_post_path %></li>
      <li><%= link_to "ユーザ一覧", users_path %></li>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
    <% elsif admin_signed_in? %>
      <li>管理者</li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <li><%= link_to "カテゴリ", admins_categories_path %></li>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to 'ゲストログイン（閲覧用）', new_guest_session_path, method: :post %>
    <% end %>