
    <% if user_signed_in? %>
      <h4>ログインユーザ: <%= current_user.name%> さん</h4>
      <div id="hm-icon" >
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div id="sp-menu">
        <ul>
          <li><h2>MENU</h2></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "投稿一覧", posts_path %></li>
          <li><%= link_to "新規投稿", new_post_path %></li>
          <li><%= link_to "ユーザ一覧", users_path %></li>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
        </ul>
      </div>
    <% elsif admin_signed_in? %>
      <h2>管理者</h2>
      <ul>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        <li><%= link_to "カテゴリ", admins_categories_path %></li>
        <li><%= link_to "投稿一覧", admins_posts_path %></li>
        <li><%= link_to "ユーザ一覧", admins_users_path %></li>
      </ul>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-info" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-success" %>
      <%= link_to 'ゲストログイン（閲覧用）', new_guest_session_path, method: :post, class:"btn btn-outline-warning" %>
    <% end %>