<!DOCTYPE html>
<html>
  <head>
    <title>Shugo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li><%= current_user.name%> さん</li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% elsif admin_signed_in? %>
      <li>管理者</li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to 'ゲストログイン（閲覧用）', new_guest_session_path, method: :post %>
    <% end %>

    <%= yield %>
  </body>
</html>
